/* --- NavBar ----- */
@import url('https://fonts.googleapis.com/css2?family=Rubik+Microbe&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-height: 8vh;
  background-color: #305050;
}

body {
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);

}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 0 10px;
}

.navbar img {
  display: none;
  width: 3rem;
  height: 3rem;
  background-color: white;
  border-radius: 10px;
}

.navbar a:focus {
  font-weight: bold;
  background-color: #D2DBE9;
  color: #305050;
  height: 8vh;
  display: flex;
  align-items: center;
}



/* --- HOME ---- */

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  min-height: 60vh;
}

.home h1 {
  font-family: 'Rubik Microbe', cursive;
  font-size: 3.5rem;
  word-spacing: 1rem;
  font-variant: small-caps;
}

.searchBar {
  height: 2rem;
  padding: 0.5rem;
  background-color: #c8a593;
  border: 1px solid #c8a593;
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-around;
  gap: 10px;
  box-shadow: 5px 10px 18px #305050;
}

.btn-grad {
  background-image: linear-gradient(to right, #D2DBE9 0%, #adc1e2 51%, #1b4485 100%);
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  width: 7rem;
}

.btn-grad:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
}

.searchBar input {
  border-radius: 10px;
  padding: 10px;
  outline: none;
}

.searchBar select {
  padding: 5px;
  font-size: 1rem;
  border-radius: 10px;
  border: none;
  outline: none;
  width: 8rem;
}

.homeImage {
  width: 30%;
  height: 30%;
  margin-top: 2rem;
  border-radius: 2rem;
  box-shadow: 0 0 20px #a0713e;
  border: none;
}

/* ----   ABOUT  ----- */
.aboutContainer {
  height: 30.5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 2rem;
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  font-family: 'Playfair Display', serif;
  word-spacing: 0.3rem;
}

.aboutImage {
  width: 30%;
  height: 50%;
  border-radius: 22% 78% 76% 24% / 30% 29% 71% 70% ;
  margin-top: 2rem;
  box-shadow: 0 0 20px #81572a;
}

.aboutParag {
  text-align: center;
}

.aboutParag h1 {
  font-variant: small-caps;
}

.aboutParag span {
  text-align: center;
  font-family: 'Rubik Microbe', cursive;
  font-size: 2.5rem;
  letter-spacing: 0.2rem;
  font-variant: small-caps;
  color: #305050;
}

/* --- LOGIN---- */

.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(./assets/login.jpg);
  background-size: cover;
  background-position: center;
  width: 30rem;
  height: 30rem;
  margin-left: 36%;
  margin-top: 3rem;
  border-radius: 5rem;
  box-shadow: 15px 20px 28px #3b2004;
}

.loginContainer input {
  margin: 2rem 0 0 1.2rem;
  padding: 0.5rem;
  border-radius: 10px;
  padding: 10px;
  outline: none;
  font-size: 1rem;
}


.btn {
  font-family: 'Oswald', sans-serif;
  font-size: 1rem;
  background-image: linear-gradient(to right, #870000 0%, #190A05 51%, #870000 100%);
  background-color: #190A05;
  margin: 2rem 0 0 1.2rem;
  padding: 0.5rem 1rem;
  width: 10rem;
  height: 3rem;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.btn:hover {
  background-position: right center;
  font-size: 1.3rem;
  text-decoration: none;
  background-color: #305050;
  cursor: pointer;
}

/* --- MEAL LIST ---- */

.mealSection {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  text-align: center;
}

.mealBox {
  border: 1px solid black;
  width: 20rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  border: none;
  border-radius: 1rem;
  box-shadow: 5px 10px 18px #3b2004;
  color: #3b2004;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 0.1rem;
}

.mealSection img {
  height: 13rem;
  width: 13rem;
  border-radius: 1rem;
  box-shadow: 5px 10px 18px rgb(110, 106, 106);
  transition: 0.5s;
}

.mealSection img:hover{
  height: 14rem;
  width: 14rem;
}

.detailsButton {
  background-image: linear-gradient(to right, #EF3B36 0%, #FFFFFF 51%, #EF3B36 100%);
  margin: 10px;
  padding: 0.5rem 1rem;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  border-color: pink;
  cursor: pointer;
}

.detailsButton:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1.2rem;

}

/* --- DETAILS PAGE ------ */
.detailsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 9rem;
}

.detailsContainer h1 {
  background-image: linear-gradient(to left, #BDBBBE 0%, #9D9EA3 100%), radial-gradient(88% 271%, rgba(255, 255, 255, 0.25) 0%, rgba(254, 254, 254, 0.25) 1%, rgba(0, 0, 0, 0.25) 100%), radial-gradient(50% 100%, rgba(255, 255, 255, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%);
 background-blend-mode: normal, lighten, soft-light;
  padding: 0.5rem;
  border-radius: 1rem;
}

.detailsContainer .span2 {
  font-family: 'Rubik Moonrocks', cursive;
  word-spacing: 1rem;
  letter-spacing: 0.2rem;
}

.detailsContainer .span1 {
  word-spacing: 1rem;
  font-variant: small-caps;
  font-family: 'Oswald', sans-serif;
}

.detailsContainer nav {
  display: flex;
  background-image: linear-gradient(to left, #BDBBBE 0%, #9D9EA3 100%), radial-gradient(88% 271%, rgba(255, 255, 255, 0.25) 0%, rgba(254, 254, 254, 0.25) 1%, rgba(0, 0, 0, 0.25) 100%), radial-gradient(50% 100%, rgba(255, 255, 255, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%);
 background-blend-mode: normal, lighten, soft-light;
  padding: 1rem 2rem;
  border-radius: 1rem;
  color: #502f0b;
  font-weight: bold;
  box-shadow: 15px 20px 28px #361f06;
}

.detailsContainer img {
  margin-right: 5rem;
  width: 15rem;
  border-radius: 1rem;
}
